<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.3.0" targetFramework="net48" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net48" />
  <package id="InheritDoc" version="2.5.2" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.4.100" targetFramework="net48" />
  <package id="Microsoft.HLSL.CSharpVB" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.10.1" targetFramework="net48" />
  <package id="NLog" version="4.5.10" targetFramework="net48" />
  <package id="System.Collections" version="4.0.11" targetFramework="net48" />
  <package id="System.Console" version="4.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net48" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net48" />
  <package id="System.IO" version="4.1.0" targetFramework="net48" />
  <package id="System.Linq" version="4.1.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="1.2.2" targetFramework="net48" />
</packages>